# .dockerignore

# Ignore directories
node_modules/
venv/
.venv/
__pycache__/
logs/
tmp/

# Ignore specific files
.DS_Store
*.log
*.pyc

# Ignore environment files (if you don't want to copy them to the image)
.env
